body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background: url('midias/BG_abc1.png') no-repeat center center/cover;
  }
  
  h1, h2 {
    font-family: 'Comic Sans MS', cursive;
  }
  
  .card {
    border-radius: 15px;
  }
  
  footer {
    font-size: 0.9rem;
  }
  
  /* Realce para botões de letras */
.letra-btn {
  margin: 5px;
  font-size: 1.2rem;
}

/* Feedback interativo */
#feedback {
  font-size: 1.1rem;
  font-weight: bold;
}
.copyright {
  font-size: 50%;
  color: rgba(63, 63, 63, 0.527);
}
.logo-unifacisa{
  display: flex;
  gap: 2px;
  padding: 2px;
}
